<div class='main-body-margin'>
  <div class='col-md-7'>
    <p>

    </p>
    <h1>Yin and Yang</h1>
      <p>

      </p>
    <h2>Yin</h2>
      <p>

      </p>
    <h2>Yang</h2>
      <p>

      </p>
    <h1>Qi</h1>
      <p>

      </p>
    <h1>Balance Through Food</h1>
      <p>

      </p>
    <h2>Quote about prevention versus curing</h2>
  </div>

  <div class='col-md-3 col-md-offset-1 five-elem-navbar'>
    <h2>Other background options:</h2>
    <%= button_to "5 Element System", five_element_system_path, class: 'five-elem-nav-button', method: "get" %>
    <%= button_to "Resources", resources_path, class: 'five-elem-nav-button', method: "get" %>
  </div>
</div>
