<div class='main-body-margin'>
  <div class='col-md-8'>
    <p class='background-text'>
      Chinese medicine focuses heavily on maintaining balance as the path to healthy living.  While extremes may be useful in the moment, ultimately, the strongest, healthiest state is one of balance. Stepping away from balance for too long leads to illness and chronic health problems.  "Chinese medicine embraces the logic that the best remedy for calamity is to avert it - the best cure for sickness is prevention," as Harriet Beinfield says in <em>Between Heaven and Earth.</em>
    </p>
    <h1 class='background-header'>Yin and Yang</h1>
      <p class='background-text'>
        Yin and Yang are the Chinese Medicine representation of dichotomy.  They describe two measures which oppose one another, yet cannot exist without the other.  Without cold how would one describe heat, and without motion how would we know stillness?  They are opposite of one another, yet, each has a small element of its opposite within it, and balancing the qualities of Yin and Yang in the body is a central tenant of Chinese Medicine.
      </p>
    <h2 class='background-subheader'>Yin</h2>
      <p>
        Yin translated means the shady side of the mountain.
      </p>
    <h2 class='background-subheader'>Yang</h2>
      <p>
        Yang balances Yin and refers to the sunny side of the mountain.  Things that are Yang in nature
      </p>
    <h1 class='background-header'>Qi</h1>
      <p class='background-text'>
        
      </p>
    <h1 class='background-header'>Balance Through Food</h1>
      <p class='background-text'>
        
      </p>
  </div>

  <div class='col-md-3 col-md-offset-1'>
    <h2>Other background options:</h2>
    <%= button_to "5 Element System", five_element_system_path, class: 'five-elem-nav-button', method: "get" %>
    <%= button_to "Resources", resources_path, class: 'five-elem-nav-button', method: "get" %>
  </div>
</div>
