<div class='contact-main-body'>
  <div class='contact-title'>Contact us with any questions by email.</div>

  <div class='contact-header'>Email:</div>

  <div class='contact-body'>info@learningbalance.org</div>
</div>
