<div class='welcome-main-body'>
  <div class='welcome-header'>
    Welcome to Learning Balance!
  </div>

  <div class='welcome-body'>
    This is a prototype for what will hopefully become a full-fledged food recommendation system based on the principles of Traditional Chinese Medicine.</br></br>
There wasn't enough implement the full functionality as was hoped.</br>  Thanks, Obama.
  </div>
</div>
