<div class='usage-header'>
  Getting started
</div>
<div class='usage-text'>
  New users can obtain an automated diagnosis of any imbalance they may currently be experiencing.  It should be noted that, for the most accurate diagnosis, one should consult a professional practitioner of Chinese Medicine.  However, filling out the diagnosis checklist will point you in the right direction of any imbalance, and can help you get started planning meals based on your dietary "tilt".
</div>

<div class='usage-header'>
  Using your diagnosis
</div>
<div class='usage-text'>
  After obtaining a personal diagnosis of any imbalanced condition you will receive recommendations for foods that are best suited to return to balance for your personal imbalance.  As is typical with Chinese Medicine practices, choosing foods to eat to balance one's dietary tilt should take a moderate approach as opposed to extreme overloading to try and achieve balance as quickly as possible.  Pushing too heavily on any side of the spectrum can lead to further imbalance in the entire system.  Balance is best achieved by eating mostly balanced meals and including small amounts of the foods which match your dietary tilt in most meals.  A gradual approach to becoming balanced is the most stable path.
</div>

<div class='usage-header'>
  Food Recommender
</div>
<div class='usage-text'>
  This site also includes a recommender for foods that match any current condition you may be feeling: damp, cold, etc.  By clicking on the Recommend A Food button from your profile page, you can input values on various conditions, and the type of food you are craving, and you will receive a list of foods that can help balance your system in its current state.
</div>
