<div class='elements-header'>
  <div class='row'>
    <div class='col-md-1'><%= image_tag "earth_element.png" %></div>
    <div class='col-md-8'>
      <div class='elements-header-text'>Earth</div>
      <div class='elements-header-subtext'>Attributes:</div>
    </div>
  </div>
</div>
<div class='elements-descrip-text'>
  <p>Earth is the element of healing... etc. etc.</p>
</div>
