<div class='elements-header'>
  <div class='row'>
    <div class='col-md-1'><%= image_tag "fire_element_resized.png" %></div>
    <div class='col-md-8'>
      <div class='elements-header-text'>Fire</div>
      <div class='elements-header-subtext'>Attributes: </div>
    </div>
  </div>
</div>
<div>
  <p class='elements-descrip-text'>fire is the element of action... etc. etc.</p>
</div>

