<div class='elements-header'>
  <div class='row'>
    <div class='col-md-1'><%= image_tag "water_element.png" %></div>
    <div class='col-md-8'>
      <div class='elements-header-text'>Water</div>
      <div class='elements-header-subtext'>Attributes:</div>
    </div>
  </div>
</div>
<div class='elements-descrip-text'>
  <p>water is the philosophical element... etc. etc.</p>
</div>
