<div class='elements-header'>
  <div class='row'>
    <div class='col-md-1'><%= image_tag "Wood_element.png" %></div>
    <div class='col-md-8'>
      <div class='elements-header-text'>Wood</div>
      <div class='elements-header-subtext'>Attributes:</div>
    </div>
  </div>
</div>
<div class='elements-descrip-text'>
  <p>Wood is the element of something... etc. etc.</p>
</div>
