<h1>Tour#page4</h1>
<p>Find me in app/views/tour/page4.html.erb</p>


<div class='row'>
  <div class='col-md-2'>
    <%= button_to "Prev", tour3_path, method: 'get', class: 'col-md-4' %>
  </div>
</div>
