<h1>Tour#page1</h1>
<p>Find me in app/views/tour/page1.html.erb</p>


<div class='row'>
  <div class='col-md-2'>
    <%= button_to "Next", tour2_path, method: 'get', class: 'col-md-4'%>
  </div>
</div>
