<h1>Tour#page2</h1>
<p>Find me in app/views/tour/page2.html.erb</p>


<div class='row'>
  <div class='col-md-2'>
    <%= button_to "Prev", tour1_path, method: 'get', class: 'col-md-4' %>
    <%= button_to "Next", tour3_path, method: 'get', class: 'col-md-4 col-md-offset-1' %>
  </div>
</div>
