<h1>Tour#page3</h1>
<p>Find me in app/views/tour/page3.html.erb</p>


<div class='row'>
  <div class='col-md-2'>
    <%= button_to "Prev", tour2_path, method: 'get', class: 'col-md-4' %>
    <%= button_to "Next", tour4_path, method: 'get', class: 'col-md-4 col-md-offset-1' %>
  </div>
</div>
