#img {
  margin-bottom: 15px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.minus-padding{
  padding-right: 20px;
}

.navButton{
  display: block;
  margin-top: 10px;
  width: 300px;
  background-color: #77DD66;
  color: black;
  border-radius: 8px;    
  text-align: center;
}

.navButton:hover{
  text-decoration: none;
}

.sub{
  /*visibility: hidden;*/
  display: none;
}

.subNavButton{
  display: block;
  margin-top: 0px;
  font-size: 0.7em;
  padding-top: 10px;
  padding-left: 20px;
  width: 270px;
  height:47px;
  background-color: #77DD66;
  color: #353535;
  border-radius: 8px;
}

.subNavButton:hover{
  text-decoration: none;
}

.small-gap{
  margin-top: 30px;
}

.nav-sign-in-style{
  margin-top: 75px;
  margin-left: 40px;
  font-size: 0.7em;
}

.nav-admin-style{
  margin-top: 30px;
  margin-left: 0px;
  font-size: 0.5em;
}

.five-elem-info-box{
  margin-left: 50px;
  margin-bottom: 30px;
  padding: 10px 10px 10px 20px;
  background-color: #67DD97;
  font-size: 1.8em;
  text-align: center;
  border-radius: 10px;
}

.five-elem-image{
  margin-left: 110px;
  margin-bottom: 40px;
}

.five-elem-navbar{
  margin-top: 200px;
}

.elem-nav-button{
  margin-left: 30px;
  margin-top: 10px;
  width: 250px;
  height: 60px;
  font-size: 1.7em;
  border-radius: 10px;
}

.five-elem-text{
  font-family: 'Sawasdee';
  font-size: 14pt;
  font-weight: 900;
}

.elem-general-color{
  /*background-color: #67AA58;*/
  background-color: #6189CD;
}

.fire-nav-button{
  background-color: #CD3232;
}

.earth-nav-button{
  background-color: #EEEE48;
}

.metal-nav-button{
  background-color: #FDFDFD;
}

.water-nav-button{
  background-color: #121212;
  color: #EDEDED
}

.wood-nav-button{
  background-color: #44BC44;
}

.main-body-margin{
  margin-left: 25px;
  margin-top: 20px;
}

.glyph-left-margin{
  margin-left: 20px;
}

.resource-title{
  font-size: 20pt;
}

.resource-author{
  font-size: 14pt;
}

.resource-description{
  font-size: 12pt;
}

.elements-header{
  margin-left: 80px;
  margin-top: 30px;
}

.elements-header-text{
  line-height: 75px;
  margin-left: 20px;
  font-family: "URW Chancery L";
  font-size: 55pt;
}

.elements-header-subtext{
  margin-left: 40px;
  margin-top: 10px;
  font-family: 'Arial';
  font-size: 18pt;
}

.elements-descrip-text{
  margin-left: 60px;
  margin-top: 40px;
  font-family: "Arial";
  font-size: 16pt;
}

.elements-att-span{
  margin-right: 15px;
}

.background-topheader{
  font-family: 'Sawasdee';
  font-weight: 900;
  font-size: 36pt;
}

.background-header{
  font-family: 'Sawasdee';
  font-weight: 900;
}

.background-subheader{
  font-family: 'Sawasdee';
  font-weight: 900;
}

.background-text{
  font-family: 'Sawasdee';
  font-size: 1.5em;
  font-weight: 900;
}

.usage-header{
  margin-left: 30px;
  margin-top: 40px;
  margin-right: 60px;
  font-weight: 900;
  font-family:  'Sawasdee';
  font-size:  2.6em;
}

.usage-text{
  margin-right: 60px;
  margin-top: 20px;
  font-weight: 900;
  margin-left: 30px;
  font-family:  'Sawasdee';
  font-size:  1.2em;
}

.main-body-rec{

}

.rec-header{
  font-family: 'Arial';
  font-size: 20pt;
}

.rec-option-list{
  margin-left: 40px;
}

.rec-option1{
  margin-top: 5px;
  margin-bottom: 5px;
  font-family: 'Arial';
  font-size: 15pt;
}

.rec-option2{
  margin-top: 15px;
  font-family: 'Arial';
  font-size: 15pt;
}

.rec-option3{
  margin-top: 5px;
  font-family: 'Arial';
  font-size: 15pt;
}

.rec-button{
  margin-top: 250px;
}

.recommend-cat{
  list-style-type: none;
  margin-top: 10px;
  font-size: 22pt;
  font-weight: 800;
}

.recommend-item{
  list-style-type: none;
  margin-left: 20px;
  font-size: 14pt;
}

.welcome-main-body{
  margin-left: 30px;
  margin-right: 30px;
}

.welcome-header{
  font-family: "URW Chancery L";
  font-size: 60pt;
}

.welcome-body{
  font-family: "DejaVu Sans, Book";
  font-size: 26pt;
  margin-top: 40px;
  margin-left: 30px;
}

.contact-main-body{
  margin-top: 40px;
  margin-left: 30px;
}

.contact-title{
  font-family: "DejaVu Sans, Book";
  font-size: 32pt;
}

.contact-header{
  margin-top: 20px;
  margin-left: 50px;
  font-family: "DejaVu Sans, Book";
  font-size: 24pt;
}

.contact-body{
  margin-top: 10px;
  margin-left: 70px;
  font-family: "Sawasdee";
  font-size: 18pt;
}

.diagnosis-table{
  margin-top: 20px;
  margin-left: 50px;
  font-size: 16pt;
}

.tongue-header{
  margin-top: 35px;
}

.tongue-body{
  font-family: "Sawasdee";
  font-size: 20pt;
  font-weight: 800;
}

.tongue-table{
  margin-top: 15px;
  margin-bottom: 20px;
  font-size: 16pt;
}

.diagnosis-display{
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 20pt;
}

.recommended-display{
  font-size: 16pt;
}

.recommended-foods-list-display{
  margin-top: 10px;
  margin-bottom: 30px;
  margin-left: 15px;
  list-style-type: none;
  font-size: 14pt;
}

.users-header{
  font-size: 12pt;
  font-weight: 800;
  margin-bottom: 10px;
}

.users-item{
  margin-top: 4px;
  margin-bottom: 4px;
}
